out/*
.classpath
.idea
*.iml
.project
.settings
.DS_STORE
.cache-main
.cache-tests
.sass-cache/
.metadata/
.cache-main
.cache-tests
#*
*~
Thumbs.db
target/
Servers/
dashboard/src/main/logs/
dashboard/src/logs/
admin/src/main/logs/
admin/src/logs
webapi/src/logs/
webapi/src/main/logs/
devapi/src/logs/
devapi/src/main/logs/
autoshare/src/logs/
autoshare/src/main/logs/
queuekeeper/src/logs/
queuekeeper/src/main/logs/
dashboard/.tmpBin
admin/.tmpBin
webapi/.tmpBin
devapi/.tmpBin
autoshare/.tmpBin
queuekeeper/.tmpBin
core/.tmpBin
node_modules
**/source/**/build/
**/partials/_sprites.scss
admin/.cache-main
autoshare/.cache-main
captainhook/.cache-main
captainhook/src/logs/
dashboard/.cache-main
dashboard/.cache-tests
devapi/.cache-main
queuekeeper/.cache-main
webapi/.cache-main
**/modules/**/exports
.rebel.xml
.rebel.xml.bak
rebel.xml
.rebel-remote.xml.bak
